/* Global CSS tweaks */
::selection {
  background-color: rgba(255, 209, 4, 0.711);
}

*{
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
